@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Heebo', sans-serif;
}
body{
  background: linear-gradient(90deg, #455aab, #ff357f8e);
  margin-top: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
section{
  
  
  margin-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item{
  width:70%;
  height:20vh;
  background:rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(20px);
border-radius: 10px;
  padding:20px;
  margin-top: 30px; 
  text-align: center;
  font-size: 16px;
}